{% extends "base.html" %}

{% block title %} Criar conta {% endblock %}

{% block content %}


<div class="flex pt-10 flex-col md:flex-row min-h-screen flex items-center justify-center px-4">


    <!-- Formulário de Criação de Conta -->
        <div class="w-full md:w-8/12 lg:w-6/12 xl:w-5/12 bg-white p-8 sm:p-10 rounded-xl shadow-lg border border-gray-200">
            
            <h1 class="text-2xl font-bold text-gray-800 text-center mb-1">CRIAR CONTA</h1>
            <p class="text-sm text-gray-600 text-center mb-8">
                Preencha o formulário com os seus dados <br> para criar a sua conta.
            </p>

            <form action="#" method="POST" class="space-y-6">

                <div class="space-y-4">
                    <p class="text-sm font-semibold text-gray-700 border-b border-gray-300 pb-2">
                        Informe os dados da Instituição
                    </p>

                    <div>
                        <label for="nome_instituicao" class="flex items-center text-sm font-medium text-gray-700 mb-1">
                            <i class="w-5 h-5 mr-2 text-custom-orange fa-solid fa-building-columns"></i>
                            Nome da Instituição
                        </label>
                        <input type="text" id="nome_instituicao" name="nome_instituicao" placeholder="Digite o Nome" required
                               class="w-full p-2 border border-gray-300 rounded-lg focus:ring-custom-blue focus:border-custom-blue" />
                    </div>

                    <div>
                        <label for="email_instituicao" class="flex items-center text-sm font-medium text-gray-700 mb-1">
                            <i class="w-5 h-5 mr-2 text-custom-orange fa-solid fa-envelope"></i>
                            Email da Instituição
                        </label>
                        <input type="email" id="email_instituicao" name="email_instituicao" placeholder="Digite o Email" required
                               class="w-full p-2 border border-gray-300 rounded-lg focus:ring-custom-blue focus:border-custom-blue" />
                    </div>

                    <div>
                        <label for="endereco_instituicao" class="flex items-center text-sm font-medium text-gray-700 mb-1">
                            <i class="w-5 h-5 mr-2 text-custom-orange fa-solid fa-location-dot"></i>
                            Endereça da Instituição
                        </label>
                        <input type="text" id="endereco_instituicao" name="endereco_instituicao" placeholder="Digite o Endereço" required
                               class="w-full p-2 border border-gray-300 rounded-lg focus:ring-custom-blue focus:border-custom-blue" />
                    </div>
                </div> <div class="pt-4 space-y-4">
                    <p class="text-sm font-semibold text-gray-700 border-b border-gray-300 pb-2">
                        Informe os dados do Responsável da conta
                    </p>

                    <div>
                        <label for="nome_responsavel" class="flex items-center text-sm font-medium text-gray-700 mb-1">
                            <i class="w-5 h-5 mr-2 text-custom-orange fa-solid fa-user"></i>
                            Nome do Responsável
                        </label>
                        <input type="text" id="nome_responsavel" name="nome_responsavel" placeholder="Digite o nome completo" required
                               class="w-full p-2 border border-gray-300 rounded-lg focus:ring-custom-blue focus:border-custom-blue" />
                    </div>

                    <div>
                        <label for="email_responsavel" class="flex items-center text-sm font-medium text-gray-700 mb-1">
                            <i class="w-5 h-5 mr-2 text-custom-orange fa-solid fa-envelope"></i>
                            Email do Responsável
                        </label>
                        <input type="text" id="email_responsavel" name="email_responsavel" placeholder="Digite o Email" required
                               class="w-full p-2 border border-gray-300 rounded-lg focus:ring-custom-blue focus:border-custom-blue" />
                    </div>

                    <div>
                        <label for="telefone_responsavel" class="flex items-center text-sm font-medium text-gray-700 mb-1">
                            <i class="w-5 h-5 mr-2 text-custom-orange fa-solid fa-phone"></i>
                            Telefone do Responsável
                        </label>
                        <input type="tel" id="telefone_responsavel" name="telefone_responsavel" placeholder="Digite o nº de telefone" required
                               class="w-full p-2 border border-gray-300 rounded-lg focus:ring-custom-blue focus:border-custom-blue" />
                    </div>
                </div>

                <div>
                    <label for="password" class="flex items-center text-sm font-medium text-gray-700 mb-1">
                        <i class="w-5 h-5 mr-2 text-custom-orange fa-solid fa-lock"></i>
                        Palavra Pass
                    </label>
                    <input type="password" id="password" name="password" placeholder="Digite a sua palavra pass" required
                           class="w-full p-2 border border-gray-300 rounded-lg focus:ring-custom-blue focus:border-custom-blue" />
                </div>

                <div>
                    <label for="confirm_password" class="flex items-center text-sm font-medium text-gray-700 mb-1">
                        <i class="w-5 h-5 mr-2 text-custom-orange fa-solid fa-lock"></i>
                        Confirme a Palavra Pass
                    </label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Digite a sua palavra pass" required
                           class="w-full p-2 border border-gray-300 rounded-lg focus:ring-custom-blue focus:border-custom-blue" />
                </div>

                <button type="submit" 
                        class="w-full py-2.5 mt-4 text-lg font-semibold text-white bg-custom-orange rounded-3xl shadow-md hover:bg-orange-600 transition duration-150">
                    CRIAR
                </button>
            </form>
            
            <p class="text-sm text-center mt-4">
                Já tem uma conta? 
                <a href="#" class="text-custom-blue font-semibold hover:text-blue-700">Faça login.</a>
            </p>

        </div> 
        
</div>

{% endblock %}